<ion-split-pane>
  <ion-menu contentId="content">
 
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title><b>C.H.E.I.R.R.S.</b> Menu</ion-title>
      </ion-toolbar>
    </ion-header>
 
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item
            [routerLink]="p.url"
            routerDirection="root"
            [class.active-item]="selectedPath.startsWith(p.url)"
          >
          <i class="fa fa-industry"></i>
            <ion-icon color="tertiary" slot="start" [name]="p.icon"></ion-icon>
            
            <ion-text color="secondary">
            <ion-label>
              <b>{{ p.title }}</b>
            </ion-label>
          </ion-text>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>