ion-item{
    ion-label{
        border: solid 1px #662861;
        box-shadow: 0px 4px 5px #f5cfb5;
        border-radius: 5px; 
    }
}ion-item{
    ion-datetime{
        border: solid 1px #662861;
        box-shadow: 0px 4px 5px #f5cfb5;
        border-radius: 5px; 
    }
}
ion-item{
    ion-input{
        border: solid 1px #662861;
        box-shadow: 0px 4px 5px #f5cfb5;
        border-radius: 10px;
    }
 }ion-item{
    ion-textarea{
        border: solid 1px #662861;
        box-shadow: 0px 4px 5px #f5cfb5;
        border-radius: 10px;
    }
 }ion-item{
    ion-radio-group{
        border: solid 1px #662861;
        border-radius: 5px;
    }
 }ion-item{
    ion-radio{
        border: solid 1px #662861;
        border-radius: 10px;
    }
 }                                