<ion-tabs class="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" color="primary"></ion-icon>
      <ion-text color="primary">
      <ion-label><b>Home</b></ion-label>
    </ion-text>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings" color="primary"></ion-icon>
      <ion-text color="primary">
      <ion-label><b>Dashboard</b></ion-label>
    </ion-text>
    </ion-tab-button>

    <ion-tab-button tab="tasks">
      <ion-icon name="list" color="primary"></ion-icon>
      <ion-text color="primary">
      <ion-label><b>ServiceReqs</b></ion-label>
    </ion-text>
    </ion-tab-button>

    <ion-tab-button tab="talk">
      <ion-icon name="chatboxes" color="primary"></ion-icon>
      <ion-text color="primary">
      <ion-label><b>Work Talk</b></ion-label>
    </ion-text>
    </ion-tab-button>

    <ion-tab-button tab="whistle">
      <ion-icon name="alarm" color="danger"></ion-icon>
      <ion-text color="primary">
      <ion-label><b>Compliance &/or WHS</b></ion-label>
    </ion-text>
    </ion-tab-button>

    <ion-tab-button tab="help">
      <ion-icon name="help-circle" color="primary"></ion-icon>
      <ion-text color="primary">
      <ion-label><b>Cheirful Help</b></ion-label>
    </ion-text>
    </ion-tab-button>

    <ion-tab-button tab="quality">
       <ion-icon name="bug" color="primary"></ion-icon>
       <ion-text color="primary">
       <ion-label><b>Cheirrs Quality</b></ion-label>
      </ion-text>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>